footer{
	margin-top:20px;
	text-align:center;
	background:#671BB3;
	//border-top:10px #1B67B3 solid;
}
footer p {
	color:white;
	padding:20px;
	margin:0;
}
footer p a{
	color:#00DE1E;
}
footer p a:hover{
	color:#00C0DE;
}

.topbar{
	height:10px;
	width:100%;
	margin-bottom:20px;
	background:#1B67B3;
}